{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <section>
            <div id="cover" class="text-white text-center px-3 d-flex flex-column">
                <h1> <span class="brand">Snowtricks</span>, la communauté des riders.</h1>
                <p class="lead text-center">Rejoignez la communauté Snowtricks pour partager et découvrir de nouveaux
                    tricks de snowboard avec d'autres passionnés</p>
                <div class="icon-container position-absolute mx-4" style="bottom:10px; right:10px;">
                    <a class="btn btn-link btn-circle" role="button" href="#tricks"><i class="text-dark fa
                    fa-arrow-down
                    fa-2x"></i>
                    </a>
                </div>
            </div>
        </section>

        <section id="tricks">
            <div class="album py-5 bg-light">
                {% if app.user %}
                    <div class="d-flex justify-content-end mx-5">
                        <a href="{{ path('trick-create') }}" class="btn btn-primary">Ajouter un trick</a>
                    </div>
                {% endif %}
                <div id="tricks-container" class="col d-flex flex-wrap justify-content-evenly tricks">
                    {% for trick in tricks %}
                        <div id="cardAnime" class="card col-sm-6 col-md-2 col-lg-3 m-1 mt-4">
                            <a href="{{ path('trick-show', {
                                'trick_category': trick.category,
                                'slug': trick.slug }) }}"
                               class="text-decoration-none degrade">
                                <img src="{% if trick.pictures.first %}
                                    {{ trick.pictures.first.url }}
                                        {% else %}
                                            {{ asset('img/trick/default.png') }}
                                        {% endif %}" class="card-img-top border-radius" alt="{{ trick.name }}">
                                <div class="card-body">
                                    {% if app.user %}
                                        <div class="d-flex justify-content-between">
                                            <h5 class="card-text">{{ trick.name }}</h5>
                                            <div class="btn-group">
                                                <a href="{{ path('trick-edit', {'id': trick.id}) }}"> <i class="fa fa-pencil fa-sm"></i></a>
                                                <a href="#" class="delete-button" data-trick-id="{{ trick.id }}"><i class="fa fa-trash fa-sm ms-2"></i></a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <h5 class="card-text">{{ trick.name }}</h5>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% if tricks|length > 0 %}
                    <div class="d-flex justify-content-center mt-5">
                        <button type="button" id="see-more" class="btn btn-primary">
                            Voir plus
                        </button>
                    </div>
                {% endif %}
            </div>
        </section>
        {% if tricks|length > 15 %}
            <a class="btn btn-link btn-circle d-flex justify-content-end mx-4" role="button" href="#tricks"><i class="text-dark fa
                        fa-arrow-up
                        fa-2x"></i>
            </a>
        {% endif %}
    </main>
{% endblock %}
