{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="mt-5 mb-5">Modification du trick <strong class="degrade">{{ trick.name }}</strong></h2>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.category) }}
                {% include 'form/_collections.html.twig' %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            <i class="fas fa-save">
                Sauvegarder
            </i>
        </button>
        <a href="" class="btn btn-danger mt-3 delete-button" data-trick-id="{{ trick.id }}">
            <i class="fas fa-trash">
                Supprimer
            </i>
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}

